
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnasayfa.cshtml";
}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout2.css" />
    <link rel="stylesheet" href="~/css/oyun.css" />
    <title>Ana Sayfa</title>
  </head>
  <body>
    <div class="icerik">
        <div class="card" style="width: 15.7rem">
            <img
              src="~/images/batak.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Batak</h5>
              <a href="kitap.html" class="btn btn-primary">Gitmek İçin Tıklayınız</a>
            </div>
          </div>
          <div class="card" style="width: 15.7rem">
            <img
              src="~/images/dama.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Dama</h5>
              <a href="muzik.html" class="btn btn-primary">Gitmek İçin Tıklayınız</a>
            </div>
          </div>
          <div class="card" style="width: 15.7rem">
            <img
              src="~/images/okey.jfif"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Okey</h5>
              <a href="seslisohbet.html" class="btn btn-primary">Gitmek İçin Tıklayınız</a>
            </div>
          </div>
        </div>
        <div class="icerik2">
          <div class="card" style="width: 15.7rem">
            <img
              src="~/images/SATRANC.png"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Satranc/h5>
              <a href="#" class="btn btn-primary">Gitmek İçin Tıklayınız</a>
            </div>
          </div>
          <div class="card" style="width: 15.7rem">
            <img
              src="~/images/tavla.png"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Tavla</h5>
              <a href="etkinlik.html"class="btn btn-primary">Gitmek İçin Tıklayınız</a>
            </div>
          </div>
    </div>
  </body>
</html>


