
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnasayfa.cshtml";
}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout2.css" />
    <link rel="stylesheet" href="~/css/profil.css" />
    <title>Ana Sayfa</title>
  </head>
  <body>
    <div class="profil">
      <h3>Misafir Olarak Giris Yaptiniz, Lutfen Giris Yapiniz</h3>
      <a asp-controller="Login" asp-action="Login"><button type="button" class="btn btn-outline-dark">Giriş İçin Tıklayınız</button></a>
  </div>
  </body>
</html>

