
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnasayfa.cshtml";
}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout2.css" />
    <link rel="stylesheet" href="~/css/seslisohbetodasi.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Ana Sayfa</title>
</head>

<body>
    <div class="icerik">
        <div class="card" style="width: 10rem">
            <img src="~/images/profil.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Deha Edebali Capar</h5>
            </div>
        </div>
        <div class="card" style="width: 10rem">
            <img src="~/images/profil.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Furkan Turk</h5>
            </div>
        </div>
        <div class="card" style="width: 10rem">
            <img src="~/images/profil.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Nazim Marul</h5>
            </div>
        </div>
        <div class="card" style="width: 10rem">
            <img src="~/images/profil.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Halil Yollu</h5>
            </div>
        </div>
        <div class="card" style="width: 10rem">
            <img src="~/images/profil.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Akif Onur Baytekin</h5>
            </div>
        </div>
    </div>
    <div class="button1">
        <div class="buttons">
            <p style="display: flex; flex-direction: column;text-align: center;">Konusmak Icin Mikrofona Basiniz<i style="font-size:36px;" class="bi bi-mic"></i></p>
            <button type="button" style="margin-left:18%;" class="btn btn-primary">Ana Menuye Donmek Icin Tiklayiniz</button>
            <button type="button" class="btn btn-success">Odaya Katilmak Icin Tiklayiniz</button>
            <button type="button" class="btn btn-danger">Sohbetten Ayrilmak Icin Tiklayiniz</button>  
        </div>
    </div>
</body>
</html>

