. 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnasayfa.cshtml";
}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout2.css" />
    <link rel="stylesheet" href="~/css/seslisohbet.css" />
    <title>Ana Sayfa</title>
  </head>
  <body>
    <div class="big-liste"><div class="liste"><ul>
      <li><a asp-controller="VoiceRoom" asp-action="Index">Sesli Sohbet 1 Odasina Gitmek Icin Tiklayiniz (6/12)</a></li>
  </ul></div></div>
  </body>
</html>


